<div class="title">
	HautWorks
</div>
<div class="desc">
	We are HautWorks. We build web applications.
</div>
<div class="social">
	<div class="network">
		<a href="http://www.facebook.com/pages/HautWorks/124666647610828" target="_blank">
		<div class="float_left"><%= image_tag 'facebook_64.png'%></div>
		<div class="name">Facebook</div>
		<div class="handle">/hautworks</div>
		</a>
	</div>
	<div class="network">
		<a href="http://twitter.com/hautworks" target="_blank">
		<div class="float_left"><%= image_tag 'twitter_64.png'%></div>
		<div class="name">Twitter</div>
		<div class="handle">@hautworks</div>
		</a>
	</div>
	<div class="clear"></div>
</div>