<!DOCTYPE html>
<html>
<head>
  <title>Hautworks - Building Web Applications</title>
  <meta name="google-site-verification" content="vHYmGHeMtN4BJDWw8tXUQ8Da-daGE2zPRrSJK-qnfdc" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
